<!-- Start Search form -->
<mat-card
  id="mat-card-search"
  class="mat-elevation-z8 margin-1em">
  <mat-card-header>
    <mat-card-title class="custom-title">
      {{labels.title}}
    </mat-card-title>
  </mat-card-header>
  <form
    [formGroup]="searchForm"
    (ngSubmit)="search()">
    <div class="custom-container">
      <div>
        <mat-form-field class="margin-1em">
          <mat-label>{{labels.filter}}</mat-label>
          <input
            matInput
            formControlName="filter">
          <mat-error *ngIf="searchForm.get('filter')?.hasError('required')">
            {{labels.validation.required}}
          </mat-error>
          <mat-error *ngIf="searchForm.get('filter')?.hasError('minlength')">
            {{labels.validation.minLength}}
          </mat-error>
          <mat-error *ngIf="searchForm.get('filter')?.hasError('maxlength')">
            {{labels.validation.maxLength}}
          </mat-error>
        </mat-form-field>
      </div>
      <button
        [disabled]="searchForm.invalid"
        mat-raised-button
        type="submit"
        color="primary">
        {{labels.search}}
      </button>
    </div>
  </form>
</mat-card>
<!-- End Search form-->
<!-- Start Heroes results table -->
<div
  *ngIf="heroes && heroes.length > 0"
  class="table-results margin-1em">
  <table mat-table [dataSource]="heroes" class="mat-elevation-z8 width-100">
    <!-- name -->
    <ng-container matColumnDef="{{this.labels.table.name}}">
      <th mat-header-cell *matHeaderCellDef>
        {{labels.table.name}}
      </th>
      <td mat-cell *matCellDef="let heroElement">
        {{heroElement.name}}
      </td>
    </ng-container>
    <!-- publisher -->
    <ng-container matColumnDef="{{this.labels.table.publisher}}">
      <th mat-header-cell *matHeaderCellDef>
        {{labels.table.publisher}}
      </th>
      <td mat-cell *matCellDef="let heroElement">
        {{heroElement.publisher}}
      </td>
    </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="{{this.labels.table.actions}}">
      <th mat-header-cell *matHeaderCellDef>
        {{labels.table.actions}}
      </th>
      <td mat-cell *matCellDef="let heroElement">
        <mat-icon color="primary" [matTooltip]="labels.edit" [routerLink]="'heroe/' + heroElement.id">
          edit
        </mat-icon>
        <mat-icon color="warn" [matTooltip]="labels.delete" (click)="deleteHeroe(heroElement.id)">
          delete
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- Start button Add Hero -->
  <div class="margin-1em">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['nuevo-heroe']">
      {{labels.add}} {{labels.hero}}
    </button>
  </div>
  <!-- End button Add Hero -->
</div>
<!-- End Heroes results table -->
<!-- Start Spinner -->
<ng-container *ngIf="heroesService.showSpinner">
  <div class="spinnerContainer">
    <mat-spinner class="custom-mat-spinner"></mat-spinner>
  </div>
</ng-container>
<!-- End Spinner -->
