<!--<div id="detail-container">-->
<!--  HOLAAAA-->
<!--  <ng-container *ngIf="nobelService.heroes && nobelService.heroes.length">-->
<!--    <ng-container *ngIf="nobelService.heroes[0].laureates">-->
<!--      <div class="margin-1em">-->
<!--        <mat-grid-list-->
<!--          cols="2"-->
<!--          rowHeight="2:1">-->
<!--          <ng-container *ngFor="let laureate of nobelService.heroes[0].laureates">-->
<!--            <div>-->
<!--              <mat-grid-tile>-->
<!--                <div class="padding-1em">-->
<!--                  <mat-card class="mat-elevation-z8">-->
<!--                    <mat-card-content>-->
<!--                      <div class="custom-flex-container">-->
<!--                        <label class="custom-title margin-1em">-->
<!--                          <b>{{labels.name}}:</b>-->
<!--                        </label>-->
<!--                        <label class="margin-1em">-->
<!--                          {{getLaureateNames(laureate)}}-->
<!--                        </label>-->
<!--                      </div>-->
<!--                      <div class="custom-flex-container">-->
<!--                        <label class="custom-title margin-1em">-->
<!--                          <b>{{labels.contribution}}:</b>-->
<!--                        </label>-->
<!--                        <label class="margin-1em">-->
<!--                          {{getLaureateContribution(laureate)}}-->
<!--                        </label>-->
<!--                      </div>-->
<!--                      <div class="custom-flex-container">-->
<!--                        <label class="custom-title margin-1em">-->
<!--                          <b>{{labels.motive}}:</b>-->
<!--                        </label>-->
<!--                        <label class="margin-1em">-->
<!--                          {{getLaureateMotive(laureate) | uppercase}}-->
<!--                        </label>-->
<!--                      </div>-->
<!--                    </mat-card-content>-->
<!--                  </mat-card>-->
<!--                </div>-->
<!--              </mat-grid-tile>-->
<!--            </div>-->
<!--          </ng-container>-->
<!--        </mat-grid-list>-->
<!--      </div>-->
<!--    </ng-container>-->
<!--  </ng-container>-->
<!--  <button-->
<!--    routerLink=""-->
<!--    mat-raised-button-->
<!--    type="submit">-->
<!--    {{labels.return}}-->
<!--  </button>-->
<!--</div>-->
<!--&lt;!&ndash; Start Spinner &ndash;&gt;-->
<!--<ng-container *ngIf="nobelService.showSpinner">-->
<!--  <div class="spinnerContainer">-->
<!--    <mat-spinner class="custom-mat-spinner"></mat-spinner>-->
<!--  </div>-->
<!--</ng-container>-->
<!--&lt;!&ndash; End Spinner &ndash;&gt;-->
